<div class="calendar">
    <div class="month">
        <div class="date">
            <h1></h1>
        </div>
        <i class="fas fa-angle-left prev-moth"></i>
        <i class="fas fa-angle-right next-moth"></i>
    </div>
    <div class="weekdays">
        <div>Dom</div>
        <div>Seg</div>
        <div>Ter</div>
        <div>Qua</div>
        <div>Qui</div>
        <div>Sex</div>
        <div>Sáb</div>
    </div>
    <div class="days"></div>
</div>