<footer class="main-footer">
    <div class="container">
        <div>
            Copyright &copy; 2022 Rádio de Moçambique.
            Todos Direitos Reservados.
        </div>
    </div>
</footer>

<partial name="_ControlSidebar" />