
@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}

<style>
    body {
        background: white
    }

    section {
        color: white;
        border-radius: 1em;
        padding: 1em;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%)
    }
</style>
<section>

    <div class=container4>
        <img src="~/images/background_RM.png" />
    </div>
</section>