@model SGSP.Models.Spot

@{
    ViewData["Title"] = "SGSP - Rádio de Moçambique | Anúncios";
}

<div class="col-sm-12 margin-1">
    <h1 style="font-weight: 300;">Anúncios</h1>
</div>
@*@User.FindFirst("name").Value*@
<div class="col-md-12 mb-4">
    <a asp-action="Create" class="btn btn-primary btn-sm float-right"><i class="fas fa-plus"></i> Adicionar Anúncio</a>
    <div class="select-Style-2" style=" margin-top: 0;">
        <select class="form-control-sm select2 disabled-on isOb" name="Canal" id="IdCanalF" data-message-error="Este campo é obrigatório.">
        </select>
    </div>
</div>
<div class="col-md-12 table-responsive">
    <div class="card">
        <div class="card-body">
            <table id="anunciosTable" class="table table-sm table-hover dataTable dtr-inline">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>DESIGNAÇÃO</th>
                        <th>DURAÇÃO</th>
                        <th>DATA DE TÉRMINO</th>
                        <th>CLIENTE</th>
                        <th>ESTADO</th>
                        <th class="text-center"><i class="fas fa-ellipsis-v"></i></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-editarAnuncio" data-backdrop="static" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Editar Anúncio #<span class="code-spot"></span></h4>
                <button type="button" class="md-close close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="inputCodeEdit" class="control-label">Código</label>
                            <input type="text" class="form-control isObrigatorio" id="inputCodeEdit" name="Código" data-message-error="Este campo é obrigatório." placeholder="" disabled>
                            <span class="error invalid-feedback inputCodeEdit"></span>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="form-group">
                            <label class="control-label">Designação</label>
                            <input type="text" class="form-control isObrigatorio" name="Designação" data-message-error="Este campo é obrigatório." id="inputDesignacaoEdit" />
                            <span class="error invalid-feedback inputDesignacaoEdit"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="fomr-group">
                            <label class="control-label">Data de Emissão</label>
                            <input type="date" class="form-control isObrigatorio" name="Data de Emissão" data-message-error="Este campo é obrigatório." id="dataFinalEdit" placeholder="dd/mm/yyyy" disabled />
                            <span class="error invalid-feedback dataFinalEdit"></span>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label class="control-label"> Duração</label>
                            <input type="text" class="form-control isObrigatorio" id="duracaoEdit" name="Duração" data-message-error="Este campo é obrigatório." data-inputmask='"mask": "99:99:99s"' data-mask placeholder="00:00" />
                            <span class="error invalid-feedback duracaoEdit"></span>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label class="control-label"> Periodicidade</label>
                            <input type="number" id="periodicidadeEdit" class="form-control isObrigatorio" name="Periodicidade" data-message-error="Este campo é obrigatório." placeholder="" disabled />
                            <span class="error invalid-feedback periodicidade"></span>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label asp-for="IdCanal"></label>
                            <select asp-for="IdCanal" class="form-control select2 isObrigatorio" data-message-error="Este campo é obrigatório." id="IdCanalEdit" name="Canal" asp-items="ViewBag.IdCanal" disabled>
                            </select>
                            <span class="error invalid-feedback IdCanalEdit"></span>
                        </div>
                    </div>
                </div>
                <span class="id-anuncio" hidden="hidden"></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-sm saveUpdade disabled-on" disabled>Salvar</button>
                <button type="button" class="btn btn-outline-primary btn-sm md-close" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-canalSelect" data-backdrop="static" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header" style="border: none;">
                <button type="button" class="close-modal" hidden data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row mb-4">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-10">
                        <span style="color: red">*</span> <span style="font-style: italic;">Nota:</span> É obrigatorio selecionar um <strong> CANAL </strong> para poder visualizar os Spots
                    </div>
                    <div class="col-sm-1"></div>
                </div>

                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-10">
                        <div class="form-group">
                            <select class="form-control select2 disabled-on isOb" name="Canal" id="IdCanal" data-message-error="Este campo é obrigatório." style="width: 100%;">
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-1"></div>
                </div>
            </div>
            <div class="modal-footer" style="border: none;">
            </div>
        </div>
    </div>
</div>

<span hidden id="idUser">@User.FindFirst("IdUser").Value</span>
<span hidden id="userName">@User.FindFirst("UserName").Value</span>

<link rel="stylesheet" href="~/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="~/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
<link rel="stylesheet" href="~/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">

@section scripts{

    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- DataTables  & Plugins -->
    <script src="~/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/plugins/jszip/jszip.min.js"></script>
    <script src="~/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="~/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="~/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="~/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>

    <script src="~/plugins/moment/moment.min.js"></script>
    <script src="~/plugins/inputmask/jquery.inputmask.min.js"></script>
    <script src="~/plugins/select2/js/select2.full.min.js"></script>
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>

    <script>
        $('.select2').select2();

        "use strict";

        var connection = new signalR.HubConnectionBuilder()
            .configureLogging(signalR.LogLevel.Debug)
            .withUrl("/planificacaoHub", {
                skipNegotiation: true,
                transport: signalR.HttpTransportType.WebSockets
            })
            .build();

        var Toast = Swal.mixin({
            toast: true,
            position: 'top-end',
            showConfirmButton: false,
            timer: 3000
        });
        var dropwonValue = '';

        $(document).ready(function () {

            Swal.fire({
                title: 'Por favor, aguarde !',
                allowOutsideClick: false,
                didOpen: () => {
                    Swal.showLoading()
                },
            });

            connection.start().then(function () {
                console.log()
            }).catch(function (err) {
                return console.error(err.toString());
            });

            $('[data-mask]').inputmask({ "placeholder": "" });

            const getIdUser = $('#idUser').html();
            const getUserName = $('#userName').html();

            const getCanals = (getIdUser, getUserName) => {
                if (getUserName.toLocaleLowerCase().includes('admin')) {
                    $.ajax({
                        type: "GET",
                        url: "/api/Canals",
                        data: "{}",
                        success: function (data) {
                            $('#modal-canalSelect').modal('show');

                            swal.close();

                            dropwonValue = '<option value="" disabled selected hidden>Selecione o Canal</option>';
                            for (let i = 0; i < data.length; i++) {
                                dropwonValue += '<option value="' + data[i].id + '">' + data[i].designacao + '</option>';
                            }
                            $("#IdCanal").html(dropwonValue);
                            $("#IdCanalF").html(dropwonValue);
                        }
                    });
                } else {
                    $.ajax({
                        type: "GET",
                        url: "/api/Canals/getCanaisUserBy/" + getIdUser,
                        data: "{}",
                        success: function (data) {
                            $('#modal-canalSelect').modal('show');

                            swal.close();
                            dropwonValue = '<option value="" disabled selected hidden>Selecione o Canal</option>';
                            const result = data.result;
                            for (let i = 0; i < result.length; i++) {
                                dropwonValue += '<option value="' + result[i].id + '">' + result[i].name + '</option>';
                            }
                            $("#IdCanal").html(dropwonValue);
                            $("#IdCanalF").html(dropwonValue);
                        }
                    });
                }
            };
            getCanals(getIdUser, getUserName);

            const loadAnuncios = (idCanal) => {
                $('#anunciosTable').DataTable({
                    destroy: true,
                    "ajax": {
                        "url": "/api/Spots/listAnunciosBy/" + idCanal,
                        "type": "Get"
                    },
                    columns: [
                        { data: "code" },
                        { data: "designacao" },
                        { data: "duracao" },

                        {
                            data: "dataFim", render: function (data, type, row, meta) {
                                let date = new Date(data);
                                let d = date.getDate();
                                let m = date.getMonth() + 1;
                                let y = date.getFullYear();
                                return (d <= 9 ? '0' + d : d) + '/' + (m <= 9 ? '0' + m : m) + '/' + y;
                            }
                        },
                        { data: "cliente" },
                        { data: "estado" },
                        { data: "action" }
                    ],
                    "oLanguage": {

                        "sSearch": "Pesquisar Anúncio:"

                    }
                });
            }
            $("#IdCanal").on('input', () => {
                $('.close-modal').click();
                $('#IdCanalF').val($("#IdCanal").val()).trigger('change')
                loadAnuncios($("#IdCanal").val());
            })

            $("#IdCanalF").on('input', () => {
                loadAnuncios($("#IdCanalF").val());
            })

            $('#anunciosTable tbody').off('click');
            $('#anunciosTable').on('click', '.editarr', function () {
                //valueData = valueData.replace(/[&\/\\#+()$~%.'*?<>{}]/g, '');
                //valueData = valueData.split(',')
                const idv = $(this).attr("data-id");
                const designacao = $(this).attr("data-designacao");
                const duracao = $(this).attr("data-duracao");
                const codigo = $(this).attr("data-codigo");
                const dataF = $(this).attr("data-dataf");
                const periodicidade = $(this).attr("data-periodicidade");
                const idCanal = $(this).attr("data-idcanal");

                $(".code-spot").text(codigo);
                $(".disabled-on").prop("disabled", true);

                $("#inputDesignacaoEdit").val(designacao);
                $("#inputCodeEdit").val(codigo);
                $("#dataFinalEdit").val(dateTimeConvert(dataF));
                $("#periodicidadeEdit").val(periodicidade);
                $("#duracaoEdit").val(duracao);
                $("#IdCanalEdit").val(idCanal);

                $(".id-anuncio").text(idv);

                $('#modal-editarAnuncio').modal('show');

            });

            $('input').on('input', function () {
                $(".disabled-on").prop("disabled", false);
            })

            $('#anunciosTable').on('click', '.destivarr', function () {
                const swalWithBootstrapButtons = Swal.mixin({
                    customClass: {
                        confirmButton: 'btn btn-primary',
                        cancelButton: 'btn btn-danger mg-1'
                    },
                    buttonsStyling: false
                })

                swalWithBootstrapButtons.fire({
                    title: 'Tem certeza, que deseja remover o Anúncio?',
                    text: "Você não poderá reverter esta operação!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Sim, remover!',
                    cancelButtonText: 'Não, cancelar!',
                    reverseButtons: true
                }).then((result) => {
                    if (result.isConfirmed) {
                        Swal.fire({
                            title: 'Por favor, aguarde !',
                            allowOutsideClick: false,
                            didOpen: () => {
                                Swal.showLoading()
                            },
                        });
                        $.ajax({
                            url: "api/Spots/disableSpot/" + parseInt($(this).attr("data-id")),
                            type: "post",
                            success: function () {
                                swal.close();
                                ReloadGrid();
                                swalWithBootstrapButtons.fire(
                                    'Removido!',
                                    'Seu Anúncio foi removido :).',
                                    'success'
                                )

                                connection.invoke("PlanificacaoChange", parseInt($('#IdCanalF').val())).catch(function (err) {
                                    return console.error(err.toString());
                                });
                            },
                            error: function (xhr, status, error) {
                                console.log(xhr)
                            }
                        });

                    } else if (
                        result.dismiss === Swal.DismissReason.cancel
                    ) {
                        swalWithBootstrapButtons.fire(
                            'Cancelado',
                            'Sua operação foi abortada :)',
                            'error'
                        )
                    }
                })

            });

            function ReloadGrid() {
                $('#anunciosTable').DataTable().clear();
                $('#anunciosTable').DataTable().ajax.reload();
            }

            function dateConvert(data) {
                let date = new Date(data);
                let d = date.getDate();
                let m = date.getMonth() + 1;
                let y = date.getFullYear();
                return (d <= 9 ? '0' + d : d) + '/' + (m <= 9 ? '0' + m : m) + '/' + y;
            }

            function dateTimeConvert(data) {
                let date = new Date(data);
                let d = date.getDate();
                let m = date.getMonth() + 1;
                let y = date.getFullYear();
                return y + '-' + (m <= 9 ? '0' + m : m) + '-' + (d <= 9 ? '0' + d : d);
            }

            $('.saveUpdade').click(function () {
                Validation.validate('.isObrigatorio');
                if (!n) {
                    Swal.fire({
                        title: 'Por favor, aguarde !',
                        allowOutsideClick: false,
                        didOpen: () => {
                            Swal.showLoading()
                        },
                    });
                    const anuncioEdi = {
                        "id": parseInt($('.id-anuncio').html()),
                        "designacao": $('#inputDesignacaoEdit').val(),
                        "code": $('#inputCodeEdit').val(),
                        "dataInicio": $('#dataFinalEdit').val(),
                        "dataFim": $('#dataFinalEdit').val(),
                        "duracao": $('#duracaoEdit').val().replace("s", ""),
                        "periodicidade": $('#periodicidadeEdit').val()
                    }
                    $.ajax({
                        contentType: 'application/json; charset=UTF-8',
                        url: '/api/Spots/updateAnuncio/' + parseInt($('.id-anuncio').html()),
                        type: "post",
                        data: JSON.stringify(anuncioEdi),
                        success: function (result, status, xhr) {
                            $('#modal-editarAnuncio').modal('hide');
                            Toast.fire({
                                icon: 'success',
                                title: 'Anúncio actualizado com Sucesso.'
                            })
                            Swal.fire({
                                icon: 'success',
                                title: 'Anúncio actualizado com Sucesso.',
                                showConfirmButton: false,
                                timer: 1500
                            })
                            ReloadGrid();
                        },
                        error: function (xhr, status, error) {
                            console.log(xhr)
                        }
                    });
                }

            })
        });
    </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}